<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <%- include ('partials/navegadorLogin.ejs'); -%>

  <div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">CALCULATOR 1.1</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Parte2</h6>
                  <p class="card-text">Esta es la parte 2, donde se realizo la configuracion por medio de express y se crearon enlaces asi mismo se hicieron pruebas con nodemons</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">DESARROLLO</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Parte del curso de archivos segundo semestre del año 2021</h6>
                  <p class="card-text">Desarrollado por:<br><b>David Martinez</b></p>
                </div>
              </div>
        </div>
    </div>
</body>
<script src="control.js"></script>
</html>