<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="container mt-5">
    <div class="row">
        <div class="col-xl-3"></div>
        <div class="col-xl-6">
            <h3 class="text-center mt-5">Registro usarios</h3>
            <form action="/registro" id="form-login" method="POST">
                <div class="form-group">
                    <label for="codigo">User</label>
                    <input type="text" class="form-control" name="user" placeholder="Ingrese codigo" autofocus>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Registrar</button>
                    <button type="reset" class="btn btn-info mr-2">Limpiar</button>
                </div>
                <br>
                <div class="text-center">
                    <label style="text-align: center;"><%= resultado%></label>
                </div>
            </form>
            <form action="/" method="get">
                <button type="submit" class="btn btn-info mr-2"><a href="/"></a>Regresar</button>
            </form>
        </div>
        <div class="col-xl-3"></div>
    </div>
</div>
</body>
</html>